* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .wrapper {
    width: 1200px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .logo img {
    width: 100px;
  }
  .nav-iteam {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
  }
  .nav-iteam ul {
    display: flex;
    gap: 10px;
    list-style: none;
  }
  .reastrant-card-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card-container {
    width: 250px;
    transition: all 0.5s linear 1s;
  }
  .card-container:hover {
    transform: scale(0.9);
    cursor: pointer;
  }
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    filter: drop-shadow(8px 5px 6px rgb(170, 167, 167));
  }
  .card-description {
    width: 100%;
    height: auto;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .card-heading {
    font-size: 20px;
  }
  .rating {
    font-size: 16px;
    font-weight: 400;
  }
  .distance {
    color: black;
    font-size: 16px;
    font-weight: 800;
  }
  .cuision {
    font-size: 14px;
    color: rgb(151, 148, 148);
  }
  .location {
    font-size: 14px;
    color: rgb(151, 148, 148);
  }
  .dot {
    font-size: 25px;
    font-weight: bold;
  }
  